<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam,
      eligendi, in quo sunt possimus non incidunt odit vero aliquid similique
      quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>
  <div class="row text-center">
    <% @products.each do |product| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <%= image_tag product.image.variant(resize_to_fill: [500, 325]), class: "card-img-top" %>
        <div class="card-body">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text">Price: <%= product.price %></p>
        </div>
        <div class="card-footer">
          <%= link_to "show", product, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
