<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <%= link_to product, class: "card" do %>
         <%= image_tag(product.image.variant(resize_to_fill: [192, 192]), class: "card-img-top") if product.image.attached? %>
          <div class="card-body">
            <p class="card-text"><%= product.name %></p>   
          </div>
          <div class="card-footer text-muted">
              <p class="card-text">Price: <%= product.price %></p>
          </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


